.container {
  padding: 15px 9%;
  padding-bottom: 100px;
}
.container .heading {
  color: #009688;
  text-align: center;
  padding-bottom: 15px;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.2);
  font-family: math;
}
.image {
  height: 13rem;
  width: 20rem;
  border-top-right-radius: inherit;
}
.container .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}
.container .boxContainer .box {
  height: 26rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 21px;
  background-color: rgb(71, 74, 77);
  text-align: center;
  width: 20rem;
  border-bottom-right-radius: 0;
}
.container .boxContainer .box h3 {
  font-family: math;
  color: #009688;
  font-size: 25px;
  padding: 10px;
}
.container .boxContainer .box p {
  color: white;
  font-family: math;
  padding: 8px 0;
  font-size: 18px;
}
.container .boxContainer .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
  transition: 0.5s;
}
